In [1]:
import sqlite3

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
db = sqlite3.connect('db.sqlite3')
cursor = db.cursor()

In [16]:
dictionary = {'1': ' Bolton', '2': 'Bolton', '3': 'Derby', '4': 'Derby', '5': 'Bolton', '6': 'Leicester'}
dataframe = pd.read_sql("SELECT * FROM cafe_record", db, index_col='id')
NAN_REPLACE = 'nothing'

dataframe['table_id'].fillna(NAN_REPLACE, inplace=True)

dataframe['table'] = dataframe[['table_id', 'deleted_table']].apply(lambda x: x['table_id']
                                                                        if (x['table_id'] != NAN_REPLACE)
                                                                        else x['deleted_table'], axis=1)

# dataframe['label'] = dataframe.apply(lambda x:   str( queryset.get(id=int(x['table'])).table.label ) 
#                                                 if type(x['table']) in [float, int]
#                                                 else x['table'].split()[1].split('=')[1].strip(),
#                                                 axis=1)

None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None